---
import { Image } from "astro:assets";
import Logo from "../../assets/logo.png";
import DesktopNavigationMenu from "./nav/DesktopNavigationMenu.astro";
import MobileNavigation from "./nav/MobileNavigation.astro";
import MobileNavigationMenu from "./nav/MobileNavigationMenu.astro";
---

<header class="bg-white flex justify-between w-full items-center">
  <a href="/" class="p-4" aria-label="Лого (линк към начална страница)">
    <Image
      src={Logo}
      class="w-[125px] md:w-[150px] lg:w-[200px] xl:w-[250px]"
      alt="Лого (линк към начална страница)"
    />
  </a>

  <MobileNavigation />
  <DesktopNavigationMenu />
</header>
