---
import Logo from "../../assets/logo.svg";
import MobileNavigation from "./nav/MobileNavigation.astro";
import MobileNavigationMenu from "./nav/MobileNavigationMenu.astro";
---

<header class="bg-white flex justify-between w-screen">
  <a href="/" class="p-4" aria-label="Лого (линк към начална страница)">
    <Logo class="block md:hidden" width={125} />
    <Logo class="hidden md:block lg:hidden" width={150} />
    <Logo class="hidden lg:block xl:hidden" width={200} />
    <Logo class="hidden xl:block" width={250} />
  </a>

  <MobileNavigation />
</header>