---
import { Image } from 'astro:assets';
interface Props {
  image: ImageMetadata;
  imageAlt: string;
  className?: string;
}

const { image, imageAlt, className } = Astro.props;
---

<section class:list={['rounded-b shadow bg-white border border-[#ddd]', className]}>
  <Image src={image} alt={imageAlt} class="w-full rounded-t h-auto" />
  <div class="flex flex-col gap-4 p-4">
    <slot name="card-heading" />
    <slot />
  </div>
</section>