---
import BurgerMenu from "../../../assets/icons/burger-menu.svg";
import MobileNavigationMenu from "./MobileNavigationMenu.astro";
---

<button
  class="block lg:hidden cursor-pointer p-4 motion-safe:transition-all"
  id="nav-menu-button"
  aria-label="Отвори навигационно меню"
>
  <BurgerMenu width={48} height={48} />
  <MobileNavigationMenu />
</button>

<style scoped>
  #nav-menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #nav-menu-button:active {
    opacity: 0.5;
  }
</style>

<script>
import { openDialog } from "../../../util/openDialog";

  const button = document.querySelector('#nav-menu-button') as HTMLButtonElement | null;
  const dialog = document.querySelector('#mobile-nav') as HTMLDialogElement;

  button?.addEventListener('click', (event) => {
    event.preventDefault();
    openDialog(dialog);
  });
</script>
