---
import { links } from "../../../common/navigation";


---

<dialog id="mobile-nav">
  <nav class="bg-white fixed w-screen h-screen">
    <ul>
      {links.map(link => <li>{link.text}</li>)}
    </ul>
  </nav>
</dialog>