---
import { links } from "../../../common/navigation";
import CloseMenuButton from "./CloseMenuButton.astro";


---

<dialog id="mobile-nav">
  <nav class="bg-white fixed w-screen h-screen">
    <ul>
      {links.map(link => <li>{link.text}</li>)}
    </ul>
    <CloseMenuButton />
  </nav>
</dialog>